/*<meta />*/

/*<meta sourceDocument="C:\Users\madmin\Desktop\Brochure - gettingstarted.doc" />*/

p
{
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	font-size: 12pt;
	vertical-align: top;
}

h1.Heading1
{
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	background-color: #003366;
	margin-top: 6pt;
	margin-bottom: 3pt;
	margin-left: 0pt;
	text-indent: 18pt;
	mc-heading-level: 1;
	font-weight: bold;
	font-size: 14pt;
}

h2.Heading2
{
	font-size: 12pt;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	margin-top: 6pt;
	mc-heading-level: 2;
	font-weight: bold;
	font-style: italic;
}

h3.Heading3
{
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	margin-top: 2pt;
	mc-heading-level: 3;
	font-weight: bold;
	font-size: 10pt;
}

